<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
    </head>
    <body style="background-color: burlywood;">
        <form>
        <h1> NETFLIX</h1>
        <P>Netflix, Inc. is an American content platform and production company headquartered in Los Gatos, California. Netflix was founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California. The company's primary business is a subscription-based streaming service offering online streaming from a library of films and television series, including those produced in-house.[9] In January 2021, Netflix reached 203.7 million subscribers, including 73 million in the United States.[10][11] It is available worldwide except in the following: mainland China (due to local restrictions), Syria, North Korea, and Crimea (due to US sanctions). It was reported in 2020 that Netflix's operating income is $1.2 billion.[12] The company has offices in France, Brazil, the Netherlands, India, Japan, South Korea, and the United Kingdom.[13] Netflix is a member of the Motion Picture Association (MPA), producing and distributing content from countries all over the globe.</P>
    </form>
    </body>
</html>