<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
</html>
<body style="background-image: url('WHITE.jpg'); background-size: cover;">
<div class="log">
    <form action="resume.html">
        <center>
        <label>USERNAME:</label>
        <input type="text"placeholder="enter your name"><br><br>
        <label>PASSWORD:</label>
        <input type="password"placeholder="enter your password"><br><br>
        <input type="submit"><br><br>
        <a href="regis.html">Click here to new ID</a>
        
    </center>
    </form>
</div>
</body>