<!DOCTYPE html>
<html>
    <head>
        <title>open page</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url('n2.jpg');background-size: cover;">
        <center> <h1 style="color: black; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: xx-large;">NETFLIX</h1></center>
            <ul>
                <li><a href="home.html"target="_blank">Home</a></li>
                <li><a href="login.html" target="_blank">Login</a></li>
                <li><a href="contact.html" target="_blank">Contact</a></li>
                <li><a href="regis.html" target="_blank">register</a></li>
              </ul>      
    </body>
</html>