<!DOCTYPE html>
<html>
    <head>
        <title>welcome to register</title>
        <link rel="stylesheet" href="../static/css/style.css">
       </head>
       <body style="background-image: url('image.jpg'); background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
    <div class="regis">
        <form action="page.html">
            <label> ENTER A EMAIL ID    :</label>
            <input type="text" placeholder="EMAIL" required><br><br>
             <label>ENTER SUBSCRIBE CODE:</label>
             <input type="text" placeholder="CODE" required><br><br>
             <label>ENTER A LANGUAGE:</label>
             <input type="text" placeholder="LANGUAGE" required><br><br>
        </form>
    </div>
    </body>
</html>