<!DOCTYPE html>
<html>
    <head>
        <title>RESUME</title>
        <link rel="stylesheet" href="../static/css/style1.css">
    </head>
    <body>
        <img src="pic.JPG" width="150" height="150">
       <p style="font-weight: bold;font-size: large;">
        Srinivash J<br>
        No 8/71,Kumbakonam<br>
        Thanjavur<br>
        7708380285<br>
        jsrinivash09112000@gmail.com<br>
    </p> 
       <div class="Close">
        <h1>CAREER OBJECTIVES</h1>
       </div>
       <p> A highly organized and hardworking individual looking for a responsible position to gain practical experience</p>
       <p style="font-size: large;font-weight: bold;">EDUCATION</p>

       <table style="color: black; width: 100%;">
           <tr>
               <th>Course</th>
               <th>Institute</th>
               <th>Year of Passing</th>
               <th>CGPA</th>
           </tr>
           <tr>
               <td>
                   <center>Electronics and communication engineering</center>
               </td>
               <td>
                   <center>Adhiyamaan College of Engineering</center>
               </td>
               <td>
                   <center>2021</center>
               </td>
               <td>
                   <center>8.0</center>
               </td>
           </tr>
           <tr>
               <td>
                   <center>HSC</center>
               </td>
               <td>
                   <center>Al Ameen Matric school</center>
               </td>
               <td>
                   <center>2017</center>
               </td>
               <td>
                   <center>75</center>
               </td>
           </tr>
           <tr>
               <td>
                   <center>SSLC</center>
               </td>
               <td>
                   <center>Al Ameen Matric school</center>
               </td>
               <td>
                   <center>2015</center>
               </td>
               <td>
                   <center>87.4</center>
               </td>
           </tr>
       </table>
       <div class="Close">
        <h1>SUBJECT KNOWLEDGE</h1>
       </div>
    <div class="Close">
        <h1>AREA OF INTEREST</h1>
       </div>
               <p>C program</p>
               <p>Java</p>
               <p>Digital Electroics</p>
               <p>Computer Networks</p>
       <div class="Close">
        <h1>CERTIFICATE OF MERITS</h1>
       </div>
       <p>Take part in Internship on “Embedded System” organized by Caliber Embedded Technologies during 19 to 29 November 2019.</p>
    <p>Participated in the two day workshop on “Embedded System” organized by Sona College of Technology, Salem during 22 and 23 July 2019.</p>
    <p>Take part in the workshop on “PSpice and MULTISIM” organized by karpagam college of engineering, Coimbatore during 10 september 2018.</p>
    <div class="Close">
        <h1>PROJECT DETAILS</h1>
       </div>
       <div class="close1">
        <h2>TITLE: “Developing an inhaler tracking system based on acoustic analysis”.</h2>
    </div>
    <p>DESCRIPTION: “The project is mainly used for measure the medicine level to prevent the dangerous stages to the asthma patients”. </p>
    <div class="Close">
        <h1>DECLARATION</h1>
       </div>
       <p>I declare that the details above are true to the best of my Knowledge.</p>
   </body>
</html>